.ve-calendar.mini {
    padding: 10px;
}


input.ve-year.mini {
    height: 22px;
    font-size: 14px;
    width: 60px;
    font-weight: 600;
    border: none;
}

/*input[type="number"].ve-year.mini:focus {*/
    /*outline: none;*/
/*}*/

input[type="number"].ve-year.mini::-webkit-inner-spin-button {
    width: 20px;
    height: 22px;
}

input[type="number"].ve-year.mini:hover::-webkit-inner-spin-button {
    width: 20px;
    height: 22px;
    border: none;
}

.dropdown.mini {
    font-size: 14px;
    height: 24px;
}

.dropdown-content.mini {
    min-width: 80px;
    font-size: 12px;
}
.dropdown.mini:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}
.dropdown-content .dropdown-month.mini {
    /* width: 100%; */
    height: 30px;
    display: flex;
    padding-left: 30px;
    align-items: center;
}

.day-grid.mini {
    /*display: block;*/
    border: none;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    align-items:flex-end;
    padding: 3px;
}

.day-title.mini {
    justify-content: center;
}
.day-number.mini {
    font-size: 16px;
    justify-content: center;
}

.day-grid.mini.selected {
    border-radius: 5px;
}

.day-grid.mini.today {
    border: 1px solid #f56c6c;
}

.day-content.mini {
    display: block;
    justify-content: center;
    flex-direction: column;
}

.day-event.mini {
    display: block;
    overflow: hidden;
}

.day-lunar.mini {
    font-size: 12px;
    justify-content: center;
    width: auto;
}